@model SikayetTakipSitesi.ViewModels.CommentModelView
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 ftco-animate">
            <p>
                <img src="images/image_1.jpg" alt="" class="img-fluid">
            </p>

            <h1 class="mb-3">@ViewBag.complaintTitle</h1>
            <h3 class="mb-3">@ViewBag.brandName</h3>
            <p>@ViewBag.complaintContent</p>

            <div class="about-author d-flex p-4 bg-light">
                <div class="bio mr-5">
                    <img src="@ViewBag.userPhoto" alt="Image placeholder" class="img-fluid mb-4">
                </div>
                <div class="desc">
                    <h3>@ViewBag.userName @ViewBag.userLastName</h3>
                    <p></p>
                </div>
            </div>

            <h3 class="mb-5">Yorumlar</h3>
            @foreach (var comment in Model.comments)
            {
                <div class="pt-5 mt-5">
                    <ul class="comment-list">
                        <li class="comment">
                            <div class="vcard bio">
                                <!--    <img src="images/person_1.jpg" alt="Image placeholder"> -->
                            </div>
                            <div class="comment-body">
                                <h3>@comment.Member.MemberName @comment.Member.MemberLastName</h3>
                                <p>@comment.CommentContent</p>
                                <p><a href="#" class="reply">Reply</a></p>
                            </div>
                        </li>
                    </ul>
                </div>
            }

            <!--
      <div class="comment-form-wrap pt-5">
        <h3 class="mb-5">Yorum bırak</h3>
        <form action="Create" method="post" asp-controller="ComplaintDetail" class="p-5 bg-light">
            <a href="ComplaintDetail\"
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="message">Message</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
            </div>

        </form>
    </div>

          -->
        </div>

    </div>
</div>