@model SikayetTakipSitesi.ViewModels.CommentModelView
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 ftco-animate">
            <p>
                <img src="images/image_1.jpg" alt="" class="img-fluid">
            </p>
            <p>Şikayet Başlığı</p>
            <h1 class="mb-3"> @Model.Complaint.ComplaintTitle</h1>
            <p>Şikayet Edilen Marka</p>
            <h3 class="mb-3">@Model.Complaint.FK_BRAND_ID.BrandName </h3>
            <p>Şikayet İçeriği</p>
            <p>@Model.Complaint.ComplaintContent</p>

            <div class="about-author d-flex p-4 bg-light">
                <div class="bio mr-5">
                    <img src="@Model.Complaint.FK_MEMBER_ID.MemberPhoto" alt="Image placeholder" class="img-fluid mb-4">
                </div>
                <div class="desc">
                    <p>Şikayeti Oluşturan Kullanıcı</p>
                    <form method="post" asp-action="Index" asp-controller="User" asp-route-id="@Model.Complaint.MemberId"> 
                    <button type="submit"  class="btn btn-primary2 font-weight-light"> <h3>@Model.Complaint.FK_MEMBER_ID.MemberName @Model.Complaint.FK_MEMBER_ID.MemberLastName </h3> </button>
                        </form>
                </div>
            </div>


            <h3 class="mb-5">Yorumlar</h3>
            @foreach (var comment in Model.Comments)
            {
                <div class="pt-5 mt-5">
                    <ul class="comment-list">
                        <li class="comment">
                            <div class="vcard bio">
                                <!--    <img src="images/person_1.jpg" alt="Image placeholder"> -->
                            </div>
                            <div class="comment-body">
                                    <form method="post" asp-action="Index" asp-controller="User" asp-route-id="@comment.MemberId">
                                        <button type="submit"  class="btn btn-primary2 font-weight-light" ><h3>@comment.Member.MemberName @comment.Member.MemberLastName</h3> </button>
                                    </form>
                                    <p>@comment.CommentContent </p>
                                    <p><a href="#" class="reply">Reply</a></p>
                            </div>
                        </li>
                    </ul>
                </div>
            }



            @*1. Yol: Eğer aşağıdaki gibi post edilirse bu sayfayı post ettiği için ekleme işleninin controllerdaki adı sayfa adının post eklenmiş hali olmalı
        farklı isim verilmek isteniyorsa 2. yol gibi yapılmalı*@

            @*<form class="form-group" method="post">
            @Html.LabelFor(x => x.Comment.CommentContent)
            @Html.TextBoxFor(x => x.Comment.CommentContent, new { @class = "form-control" })

            <br />
            <button class="btn btn-info">Kaydet</button>
        </form>*@


        <form method="post" asp-action="AddComment" asp-controller="ComplaintDetail">
            @Html.LabelFor(x => x.Comment.CommentContent)
            @Html.TextBoxFor(x => x.Comment.CommentContent, new { @class = "form-control" })
            <input asp-for="@Model.Comment.ComplaintId " value="@Model.Complaint.PK_COMPLAINT_ID" class="form-control" type="hidden" />
            <br />

            <button class="btn btn-info">Kaydet</button>
        </form>
       




        </div>

    </div>
</div>

@section Kategoriler{ }