@using Microsoft.AspNetCore.Http
@model SikayetTakipSitesi.ViewModels.CommentModelView
@using SikayetTakipSitesi.Models

@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? userid = Context.Session.GetInt32("MEMBER_ID");
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 ftco-animate">
            <div class="text p-4" style="width:600px ;height:auto; border-style: ridge ; border-top-style:ridge ; border-color:forestgreen;background-color: #f2f2f2 ; float:left">
                <p>
                    <img src="images/image_1.jpg" alt="" class="img-fluid">
                </p>

                <h3 class="mb-3"><font color="black"><b>@Model.Complaint.FK_BRAND_ID.BrandName  </b></font></h3>

                <h5 class="mb-3"><b>  @Model.Complaint.ComplaintTitle</b></h5>
                <p><b>@Localizer["icerik"]</b></p>
                <div style="background-color:white; background-size:50px">

                    <p><font color="black"><b>@Model.Complaint.ComplaintContent</b></font></p>
                </div>
            </div>


            <h3 class="mb-5"><b>@Localizer["yorumlar"]</b></h3>
            @foreach (var comment in Model.Comments)
            {
                <div class="pt-5 mt-5">
                    <ul class="comment-list">
                        <li class="comment">
                            <div class="vcard bio">
                                <!--    <img src="images/person_1.jpg" alt="Image placeholder"> -->
                            </div>
                            <div class="comment-body" style="background-color:#f2f2f2 ; border-style: ridge ; border-color: forestgreen ; border-width:3px">
                                <div class="comment-body" style="background-color:#f2f2f2 ">
                                    <form method="post" asp-action="Index" asp-controller="User" asp-route-id="@comment.MemberId">
                                        <button type="submit" class="btn btn-primary2 font-weight-light"><h5>@comment.Member.MemberName @comment.Member.MemberLastName</h5> </button>
                                    </form>
                                    <p><b>@comment.CommentContent </b></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            }
            <div class="row mt-5">
                <div class="col">
                    <div class="block-27">
                        <ul>

                            <li>
                                @Html.PagedListPager(Model.Comments, sayfa => Url.Action("Index", new { sayfa }))
                            </li>

                        </ul>
                    </div>
                </div>
            </div>


            @*1. Yol: Eğer aşağıdaki gibi post edilirse bu sayfayı post ettiği için ekleme işleninin controllerdaki adı sayfa adının post eklenmiş hali olmalı
                farklı isim verilmek isteniyorsa 2. yol gibi yapılmalı*@

            @*<form class="form-group" method="post">
                    @Html.LabelFor(x => x.Comment.CommentContent)
                    @Html.TextBoxFor(x => x.Comment.CommentContent, new { @class = "form-control" })

                    <br />
                    <button class="btn btn-info">Kaydet</button>
                </form>*@


            <form method="post" asp-action="AddComment" asp-controller="ComplaintDetail" asp-route-userId="@userid">

                <label>Şikayete Yorum Ekle</label>
                @Html.TextBoxFor(x => x.Comment.CommentContent, new { @class = "form-control" })
                <input asp-for="@Model.Comment.ComplaintId " value="@Model.Complaint.PK_COMPLAINT_ID" class="form-control" type="hidden" />
                <br />

                <button class="btn btn-info">@Localizer["kaydet"]</button>

            </form>
        </div>

    </div>
</div>

@section SayfaBilgisi{
    @Localizer["gelen"]
}




@section Kategoriler
{
    <h2>  @Localizer["kullanici"]</h2>
    @*<div class="cases-wrap d-md-flex align-items-center" style="border-style:ridge; border-color:forestgreen;background-color:#f2f2f2; width: 400px ; height: 200px; position: absolute; right: 5px;">

        <div class="img" style="background-size:200px ;width:200px; background-color:white ; height: 190px">
            <img src="@Model.Complaint.FK_MEMBER_ID.MemberPhoto" alt="Image placeholder" class="img-fluid mb-4">
        </div>
        <div class="text pl-md-5">
            <form method="post" asp-action="Index" asp-controller="User" asp-route-id="@Model.Complaint.FK_MEMBER_ID.PK_MEMBER_ID">
                <button type="submit" class="btn btn-primary2 font-weight-light"> <h3><b>@Model.Complaint.FK_MEMBER_ID.MemberName @Model.Complaint.FK_MEMBER_ID.MemberLastName</b> </h3> </button>
            </form>
        </div>
    </div>*@

<div class="cases-wrap d-md-flex align-items-center" style="border-style:ridge; border-color:forestgreen;background-color:#f2f2f2; width: 400px ; height: 200px; position: absolute; right: 5px;">
    <div class="img" style=" background-image: url(@Model.Complaint.FK_MEMBER_ID.MemberPhoto);
        background-size: 200px;
        width: 200px;
        background-color: white;
        height: 190px"></div>

    <form method="get" asp-action="Index" asp-controller="User" asp-route-id="@Model.Complaint.FK_MEMBER_ID.PK_MEMBER_ID"  asp-route-type="0">
        <div class="text pl-md-5">

         
                <span class="cat">

                    <button type="submit" class="btn btn-primary2" > <h3><b>@Model.Complaint.FK_MEMBER_ID.MemberName @Model.Complaint.FK_MEMBER_ID.MemberLastName</b> </h3> </button>

                </span>
          
        </div>
    </form>
    </div>

    
}