@using SikayetTakipSitesi.ViewModels
@using X.PagedList.Mvc.Core

@model SikayetTakipSitesi.ViewModels.AdminComplaintViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Şikayet İşlemleri </h1>
<br />

<table class="table table-bordered" style="margin-top: 20px;  border-style:ridge ; border-color:forestgreen ; border-width:5px">
    <tr style=" padding-top: 12px; padding-bottom: 12px; text-align: left; background-color: #4CAF50; color: white;">
        <th>Marka Adı</th>
        <th>Şikayeti oluşturan</th>
        <th>Başlık</th>
        <th>İçerik</th>
        <th>Onayla</th>
        <th>Sil</th>

    </tr>


    @foreach (var complaint in Model.Complaints)
    {


        <tr>

            <td><a> <span class="cat">@complaint.FK_BRAND_ID.BrandName </span></a></td>


            <td><a> <span class="cat">@complaint.FK_MEMBER_ID.MemberName @complaint.FK_MEMBER_ID.MemberLastName </span></a></td>



            <td><a> <span class="cat">@complaint.ComplaintTitle  </span></a></td>


            <td><a> <span class="cat">@complaint.ComplaintContent</span></a></td>


            <td>
                <a href="/AdminComplaintPage/ConfirmComplaint/@complaint.PK_COMPLAINT_ID" class="btn btn-primary">Onayla</a>



            </td>
            <td>
                <a href="/AdminComplaintPage/RejectComplaint/@complaint.PK_COMPLAINT_ID" class="btn btn-danger">Sil</a>
            </td>
        </tr>
    }


</table>
<div class="row mt-5">
    <div class="col">
        <div class="block-27">
            <ul>

                <li>
                    @Html.PagedListPager(Model.Complaints, sayfa => Url.Action("Index", new { sayfa }))
                </li>

            </ul>
        </div>
    </div>
</div>

@section Markalar{

    @*@await Component.InvokeAsync("BrandList")*@

    <div class="sidebar-box ftco-animate">
        <div class="categories">
            Markalar
            <form method="get" asp-action="Index" asp-controller="AdminComplaintPage">
                <li style="margin-bottom: 10px; border-bottom:solid; border-width:1px;"><button type="submit" class="btn btn-primary2 font-weight-light"> <span class="ion-ios-arrow-forward">TÜMÜ</span></button></li>
            </form>
            @foreach (var brand in Model.Brands)
            {
                <form method="post" asp-action="Index" asp-controller="AdminComplaintPage" asp-route-id="@brand.PK_BRAND_ID ">
                    <li><button type="submit" class="btn btn-primary2 font-weight-light "> <span class="ion-ios-arrow-forward">@brand.BrandName</span></button></li>
                </form>}

        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <div class="block-27">
                <ul>

                    <li>
                        @Html.PagedListPager(Model.Brands, sayfa2 => Url.Action("Index", new { sayfa2 }))
                    </li>

                </ul>
            </div>
        </div>
    </div>
}


