
@model SikayetTakipSitesi.Models.Brand
@{
    ViewData["Title"] = "AddBrand";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>@Localizer["marka"]</h1><br />

<div class="contact-wrap w-100 p-md-5 p-4" style="background-color:darkseagreen ; border-style:ridge ; border-color:forestgreen ; border-width:5px">
    <div  style="background-color:darkseagreen">

<form class="form-group" method="post">  @*ekleme işlemi sayfa adıyla aynıysa böyle post edileilibr*@
    @Html.LabelFor(x => x.BrandName)
    @Html.TextBoxFor(x => x.BrandName, new { @class = "form-control" })
    @Html.LabelFor(x => x.BrandPhoto)
    @Html.TextBoxFor(x => x.BrandPhoto, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">@Localizer["kaydet"]</button>
</form>
        </div>
    </div>
@section Markalar{



}