@model IEnumerable<Complaint>
@foreach (var complaint in Model)
{
<form method="post" asp-action="Index" asp-controller="BrandDetail" asp-route-id="@complaint.BrandId">
    <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch">
            <div class="text p-4">
                <div class="meta mb-2">
                    <div><a href="#">@complaint.ComplaintTitle</a></div>
                    <div><a href="#">@complaint.BrandId</a></div>
                    <div><a href="#">@complaint.MemberId </a></div>
                    <h3 class="heading"><a href="#">@complaint.ComplaintContent</a></h3>
                    @* <div><a href="#">@complaint.MemberId </a></div> *@
                </div>

            </div>
        </div>
    </div>
</form>
        }
