@using SikayetTakipSitesi.Models

@model List<Brand>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>@Localizer["markalar"]</h1>


@foreach (var brand in Model)
{
    <div class="cases-wrap d-md-flex align-items-center" style="border-style:ridge; background-color:#f2f2f2; width: 600px">
        <div class="img" style="background-image:url(@brand.BrandPhoto ); background-size: 250px; background-color:white"></div>

        <div class="text pl-md-5">
            <a> <span class="cat">@brand.BrandName</span></a>

            <p>
                <form method="post" asp-action="Index" asp-controller="Complaint" asp-route-id="@brand.PK_BRAND_ID ">
                    <button type="submit" class="btn btn-primary">@Localizer["sikayet"] </button>
                </form>
                <br />
                <form method="get" asp-action="Index" asp-controller="BrandDetail" asp-route-id="@brand.PK_BRAND_ID ">
                    <button type="submit" class="btn btn-primary">@Localizer["marka"]</button>
                </form>
            </p>
        </div>
    </div>

}


@section SayfaBilgisi{
    @Localizer["markalar2"]
}
@section Kategoriler{

    @await Component.InvokeAsync("CategoryMenu")

}