@using SikayetTakipSitesi.Models

@using X.PagedList.Mvc.Core

@model X.PagedList.IPagedList<Brand>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>MARKALAR</h1>


@foreach (var brand in Model)
{
    <div class="cases-wrap d-md-flex align-items-center" style="border-style:ridge; background-color:#f2f2f2; width: 600px">
        <div class="img" style="background-image:url(@brand.BrandPhoto ); background-size: 250px; background-color:white"></div>

        <div class="text pl-md-5">
            <a> <span class="cat">@brand.BrandName</span></a>

            <p>
                <form method="post" asp-action="Index" asp-controller="Complaint" asp-route-id="@brand.PK_BRAND_ID ">
                    <button type="submit" class="btn btn-primary">Şikayet Yaz </button>
                </form>
                <br />
                <form method="get" asp-action="Index" asp-controller="BrandDetail" asp-route-id="@brand.PK_BRAND_ID ">
                    <button type="submit" class="btn btn-primary">Markaya Git</button>
                </form>
            </p>
        </div>
    </div>

}

<div class="row mt-5">
    <div class="col">
        <div class="block-27">
            <ul>

                <li>
                    @Html.PagedListPager(Model, sayfa => Url.Action("Index", new { sayfa }))
                </li>

            </ul>
        </div>
    </div>
</div>


@section SayfaBilgisi{
    Markalar
}
@section Kategoriler{

    @await Component.InvokeAsync("CategoryMenu")

}